<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Logged out | Sistema para Consultora de Desarrollo</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/logout/">Gracias por utilizar nuestro sistema</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    <div class="breadcrumbs"><a href="/logout/">CERRAR</a></div>
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Logged out</h1>
        

<p>Thanks for spending some quality time with the Web site today.</p>

<p><a href="/login/">Log in again</a></p>


        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
