{% extends "base.html" %}

{% block content %}



<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>  

<meta name="robots" content="NONE,NOARCHIVE" />  -->



<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Sistema de Gestion de Proyectos</h1>

        </div>
    </div>
</div>    
    <!-- END Header -->
    <!-- <div class="breadcrumbs"><a href="/logout/">CERRAR</a></div>  -->
    
    
    
<form  style="display:inline;" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

<table >
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<br/>
<br/>
<input type="submit" value="Iniciar sesion" />
<input type="hidden" name="next" value="/principal" />

</form>

<form style="display:inline;" method="get" action="/contactomail">

<input type="submit" value="Recuperar contrasena" />

</form>

{% if form.errors %}
<p><br>Su nombre de usuario y contrasenha no coinciden. Intente de nuevo.</p>
{% endif %}


{% endblock %}

