<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Change proyecto | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
<script type="text/javascript">
function validarForm(formulario) {
  if(formulario.nombre.value.length==0) { //comprueba que no esté vacío
    formulario.nombre.focus();   
    alert('No has completado todos los campos'); 
    return false; //devolvemos el foco
  }
  if(formulario.descripcion.value.length==0) { //comprueba que no esté vacío
	    formulario.descripcion.focus();   
	    alert('No has completado todos los campos'); 
	    return false; //devolvemos el foco
	  }
  return true;
}
</script>
</head>


<body class=" app-gestor model-proyecto change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Crear actividad</h1>

        </div>
        
         <div id="user-tools">    

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
<form enctype="multipart/form-data" method="post" onsubmit="return validarForm(this);">

{% csrf_token %}


<div>

{{form.as_p}}
            
</div>
    
<div class="submit-row">
<input type="submit" value="Guardar Actividad" class="crearActividadView" name="_save" />
    
