<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Agregar rol | Sitio de administracion</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
<script type="text/javascript">
function validarForm(formulario) {
  if(formulario.nombre.value.length==0) { //comprueba que no esté vacío
    formulario.nombre.focus();   
    alert('No has completado todos los campos'); 
    return false; //devolvemos el foco
  }
  
  return true;
}
</script>
</head>


<body class=" app-gestor model-rol change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Pagina Principal</a></h1>

        </div>
        
        <div id="user-tools">
            
                Welcome,
                <strong>{{usuario}}</strong>.
                
                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>
            
        </div>
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Pagina Principal</a>
</div>

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Agregar flujo</h1>
        <div id="content-main">

<form enctype="multipart/form-data" action="/guardarFlujo/{{usuarioid}}/{{proyectoid}}/{{rolid}}/" method="post" id="rol_form" novalidate onsubmit="return validarForm(this);"><input type='hidden' name='csrfmiddlewaretoken' value='JyS6xzJ9lDG2WgfiSPv0L0PvCmALwE52' />
{% csrf_token %}
<div>

  <fieldset class="module aligned ">
 
        <div class="form-row field-nombre_rol_id">

                <div>
                        <label class="required" for="id_nombre">Nombre:</label>
                        
                            <input class="vTextField" id="id_nombre" maxlength="200" name="nombre" value="{{nombre_flujo}}" type="text" pattern="[a-z]" required="required" autofocus="autofocus"/>
                </div>
            
        </div>
        
            <div class="form-row field-permisos">

                <div>

                        <label class="required" for="id_permisos">Actividades:</label>
                        
								<select multiple="multiple" id="can_be_selected" name="actividades_disponibles" required>
                            		{%for actividad in actividades %}
										<option value="{{actividad.id}}">{{actividad.nombre}}</option>
									{%endfor%}
								</select>
								
							<button id="assign" name="boton" onclick="agregar()" value="Agregar">Agregar</button>
							<button id="assign" name="boton" onclick="agregar()" value="Eliminar">Eliminar</button>

							<select multiple="multiple" id="are_selected" name="actividades_asignadas">
                            {%for actividad in actividades_asignadas %}
								<option selected value="{{actividad.id}}">{{actividad.nombre}}</option>
							{%endfor%}
							</select>
					
                        <p class="help"> Presiona "Control" para seleccionar mas de una opcion.</p>
                    	
                    	{# This is the only of the three selects send to django #}
                            {# It's not visible to the frontend user #}
                                <div class="hidden">
                                    <select name="actividades" id="form_list" multiple>
                                    {%for actividad in actividades_asignadas %}
                                        <option value="{{ actividad.id}}" selected>{{ actividad.description }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                </div>
            
        </div>

</fieldset>

<div class="Flujo">
<p><a href="/crearActividad/{{usuarioid}}/{{proyectoid}}/">Crear Actividad</a></p>
<p><a href="/modificarActividad/{{usuarioid}}/{{proyectoid}}/">Modificar Actividad</a></p>
</div>

<div class="submit-row">
<input type="submit" value="Guardar" name="_save" />
</form></div>
{% block javascript %}
            <script type="text/javascript">
                function agregar() {
                    var sel = $('#can_be_selected').find('option:selected');
                    sel.remove();
                    sel.appendTo('#are_selected');
                    sel = sel.clone();
                    sel.appendTo('#form_list');
                    sel.prop('selected', true);
                });
                $('#deassign').click(function (e) {
                    var sel = $('#are_selected').find('option:selected');
                    sel.remove();
                    sel.appendTo('#can_be_selected');
                    sel.each(function (index) {
                        $('#form_list').find('[value="' + $(this).val() + '"]').remove()
                    });
                });
            </script>
        {% endblock %}

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
