<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> Pagina Principal | Sistema para Consultora de Desarrollo</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuario_id}}/{{proyecto.id}}">Pagina Principal</a></h1>

        </div>
        
        <div id="user-tools">
            
                Bienvenido 
                <strong>{{usuario}}</strong>.
            

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
  		
  		<div id="content">
        	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        	<p><b>Usuarios que conforman el equipo de proyecto:</b></p>
        	{% csrf_token %}
        		<ul>
        		{%for u,r in lista_asigna.items%}
        			<li><p>{{u.username}} con Rol {{r.nombre_rol}}</p></li>
        		{% endfor %}
				</ul>
		</div>
</div>


</body>
</html>
