<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> Roles y Flujos</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard">

<!-- Container -->
<div id="container">
{% csrf_token %}
    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/hola/">Roles y Flujos</a></h1>

        </div>
        
        <div id="user-tools">
            
                Bienvenido,
                <strong>{{usuario}}</strong>.
            

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
  		
  		<div id="content" class="colMS">
    
        <div class="app-gestor module">
        <table>

            <caption>Sis</caption>
			<th>Roles de proyecto</th>
        
            <tr class="model-proyecto">
            
				{% for rol in roles %}
					{%ifequal rol.nombre_rol_id 'ScrumMaster' %}
	  					 <!-- El scrum no se sita, ya que no puede asiganr ese rol a otro -->
	  				{% else %}
	  					<td> {{rol.nombre_rol}} </td>
  		
                		<td><a href="/visualizarRol/{{usuario.id}}/{{proyecto.id}}/{{rol.id}}/" class="addlink">Visualizar</a></td>
                	
                <!--		<td><a href="/asignarRol/{{usuario.id}}/{{rol.id}}/{{proyecto.id}}" class="changelink">Asignar</a></td>  -->

              			</tr>
	  				{% endifequal %}
  				
            {% endfor %}
            </table>
            


			</form>
			
            <table>
           <th>Flujos disponibles</th>
        
            <tr class="model-proyecto">
            
				{% for flujo in flujos %}
  				<td> {{flujo.nombre}} </td>
  		
            
                <td><a href="/visualizarFlujo/{{usuario.id}}/{{proyecto.id}}/{{flujo.id}}/" class="addlink">Visualizar</a></td>
            

            
                <td><a href="/modificarFlujo/{{usuario.id}}/{{proyecto.id}}/{{flujo.id}}/" class="changelink">Modificar</a></td>
              </tr>
            {% endfor %}
        
        </table>
        <form method="get" action="/crearFlujo/{{usuario.id}}/{{proyecto.id}}/">

			<input type="submit" value="Crear Flujo" />

		</form>
        
        </div>
    

</div>
  		
<!--     

        
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Recent Actions</h2>
        <h3>My Actions</h3>
            
            
            
            <p>None available</p>
            
    </div>
</div>

        <br class="clear" />
    </div>
    <!-- END Content -->
<!-- 
    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
