<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Ver Kanban | SCD </title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript">
//Change the selector if needed
var $table = $('table.scroll'),
    $bodyCells = $table.find('tbody tr:first').children(),
    colWidth;

// Adjust the width of thead cells when window resizes
$(window).resize(function() {
    // Get the tbody columns width array
    colWidth = $bodyCells.map(function() {
        return $(this).width();
    }).get();
    
    // Set the width of thead columns
    $table.find('thead tr').children().each(function(i, v) {
        $(v).width(colWidth[i]);
    });    
}).resize(); // Trigger resize handler
</script>

<style type="text/css">

table.scroll tbody,
table.scroll thead { display:block;}

table.scroll tbody {
    height: 440px;overflow-y: auto;overflow-x: auto;
}
table.intermedia tbody {
    width:145px;height: 90px;overflow-y: auto;overflow-x: auto;
}
table.encabezado tbody {
    width:145px;height: 30px;overflow-y: auto;overflow-x: auto;
}
</style>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-gestor model-proyecto change-form">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Kanban del sprint {{sprint}}</a></h1>

        </div>
        
         <div id="user-tools">    

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->

<div>
{{sprintxy.items}}
	{%for flujo, hus in flujos_hu.items%}
		<br/>
		<p><b><font size="4" color="#8904B1">{{flujo}}</font></b>
		{%for fa in flujos_aprobados%}
             {%if fa == flujo%}
                    &nbsp; &nbsp; <font size="3" color='#0B3B0B'><b>--- Aprobada por Scrum</b></font>
             {%endif%}
        {%endfor%}
        </p>
		<div style="width:1250px; height:500px; border:#000 2px solid; overflow:auto">
		<table class="scroll" bordercolor = #8904B1 border="8" width="1300" align="center">
		{%for f,act in flujos_actividades.items%}
			{%if f == flujo%}
				<thead>
				<tr>
				{%for a in act%}
					<td bgcolor="#E0E0F8" colspan="3" align="center"><font size="3" color='#210B61'><b>{{a}}</b></font></td>
				{%endfor%}
					<td bgcolor="#BEF781" rowspan="2"><table class="encabezado" border:"0"><tr><td><font size="3" color='#210B61'><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HU aprobada</b></font></td></tr></table></td>
				</tr>
				
				<tr>
				{%for a in act%}
					<td bgcolor="#F2F2F2" align="center" style="width:1000px;"><b>Pendiente</b></td>
					<td align="center" style="width:1000px;"><b>En Progreso</b></td>
					<td bgcolor="#EFFBFB" align="center" style="width:1000px;"><b>Finalizado</b></td>
				{%endfor%}
				</tr>
				</thead>
			{%endif%}
		{%endfor%}
		<tbody>
		<tr>
		{%for h in hus%}
			{%for f,act in flujos_actividades.items%}
				{%if f == flujo%}
					<tr>
					{%for a in act%}
						{%if h.actividad == a%}
							{%if h.estado_en_actividad == 'PEN'%}
								<td bgcolor="#F2F2F2" align="center">
									<table class="intermedia" style="border: 3px solid #120A2A;">
										<tr>
											<td align="center"><font size="2" color = "#120A2A"><b>{{h}}</b></font></td></tr>
										<tr style="border: 2px solid #120A2A;"><td align="center"><b>Horas hechas / Duracion:</b>
										<br/>{{h.acumulador_horas}} / {{h.duracion}} 
										<br/><a href="/visualizarHU/{{usuarioid}}/{{proyectoid}}/{{rolid}}/{{h.id}}/1/{{kanban}}/" class="changelink">Ver historial de tareas</a></td></tr>
									</table></td>
								<td> 
									<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "white"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid #120A2A;"><td align="center"><font color = "white"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
								</td>
								<td bgcolor="#EFFBFB">
									<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "#EFFBFB"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid #120A2A;"><td align="center"><font color = "#EFFBFB"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
								</td>
							{%elif h.estado_en_actividad == 'PRO'%}
								<td bgcolor="#F2F2F2">
									<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "#F2F2F2"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid #F2F2F2;"><td align="center"><font color = "#F2F2F2"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
								</td>
								<td align="center">
									<table class="intermedia" style="border: 3px solid #120A2A;">
										<tr style="border: 2px solid black;">
											<td align="center"><font size="2" color = "#120A2A"><b>{{h}}</b></font></td></tr>
										<tr style="border: 2px solid black;"><td align="center"><b>Horas hechas / Duracion: </b>
										<br/>{{h.acumulador_horas}} / {{h.duracion}} 
										<br/><a href="/visualizarHU/{{usuarioid}}/{{proyectoid}}/{{rolid}}/{{h.id}}/1/{{kanban}}/" class="changelink">Ver historial de tareas</a></td></tr>
									</table></td>
								<td bgcolor="#EFFBFB"> 
									<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "#EFFBFB"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid #EFFBFB;"><td align="center"><font color = "#EFFBFB"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
								</td>
							{%elif h.estado_en_actividad == 'FIN'%}
								<td bgcolor="#F2F2F2"> 
									<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "#F2F2F2"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid #F2F2F2;"><td align="center"><font color = "#F2F2F2"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
								</td>
								<td> 
									<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "white"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid white;"><td align="center"><font color = "white"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
								</td>
								<td bgcolor="#EFFBFB" align="center">
									<table class="intermedia" style="border: 3px solid #120A2A;">
										<tr style="border: 2px solid black;">
											<td align="center"><font size="2" color = "#120A2A"><b>{{h}}</b></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="/aprobarHU/{{usuarioid}}/{{proyectoid}}/{{rolid}}/{{sprint.id}}/{{h.id}}/" class="addlink">Aprobar?</a>
											</td></tr>
										<tr style="border: 2px solid black;"><td align="center"><b>Horas hechas / Duracion:</b>
										<br/>{{h.acumulador_horas}} / {{h.duracion}} 
										<br/><a href="/visualizarHU/{{usuarioid}}/{{proyectoid}}/{{rolid}}/{{h.id}}/1/{{kanban}}/" class="changelink">Ver historial de tareas</a></td></tr>
									</table></td>
							{%else%}
								<td bgcolor="#F2F2F2"> 
									<table class="intermedia" border:"0">
											<tr>
												<td align="center"><font size="2" color = "#F2F2F2"><b>{{h}}</b></font></td></tr>
											<tr style="border: 0px solid #F2F2F2;"><td align="center"><font color = "#F2F2F2"><b>Horas hechas / Duracion:</b></font>
											<br/>
											<br/></td></tr>
									</table>
								</td>
								<td> 
									<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "white"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid white;"><td align="center"><font color = "white"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
								</td>
								<td bgcolor="#EFFBFB">
									<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "#EFFBFB"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid #EFFBFB;"><td align="center"><font color = "#EFFBFB"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
								</td>
							{%endif%}
						{%else%}
							<td bgcolor="#F2F2F2"> 
								<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "#F2F2F2"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid #F2F2F2;"><td align="center"><font color = "#F2F2F2"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
								</td>
							</td>
							<td> 
								<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "white"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid white;"><td align="center"><font color = "white"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
							</td>
							<td bgcolor="#EFFBFB">
								<table class="intermedia" border:"0">
										<tr>
											<td align="center"><font size="2" color = "#EFFBFB"><b>{{h}}</b></font></td></tr>
										<tr style="border: 0px solid #EFFBFB;"><td align="center"><font color = "#EFFBFB"><b>Horas hechas / Duracion:</b></font>
										<br/>
										<br/></td></tr>
									</table>
							</td>
						{%endif%}
					{%endfor%}
					{%if h.estado_en_actividad == 'APR'%}
						<td bgcolor="#BEF781"> 
							<table class="intermedia" style="border: 3px solid #120A2A;">
								<tr style="border: 2px solid black;">
									<td align="center"><font size="2" color = "#120A2A"><b>{{h}}</b></font>	</td></tr>
								<tr style="border: 2px solid black;"><td align="center"><b>Horas hechas / Duracion:</b>
									<br/>{{h.acumulador_horas}} / {{h.duracion}} 
									<br/><a href="/visualizarHU/{{usuarioid}}/{{proyectoid}}/{{rolid}}/{{h.id}}/1/{{kanban}}/" class="changelink">Ver historial de tareas</a></td></tr>
							</table></td>
					{%else%}
						<td bgcolor="#BEF781"> 
							<table class="intermedia" border:"0">
								<tr>
									<td align="center"><font size="2" color = "#BEF781"><b>nada</b></font></td></tr>
									<tr style="border: 0px solid #BEF781;"><td align="center"><font color = "#BEF781"><b>Horas hechas / Duracion:</b></font>
									<br/>
									<br/></td></tr>
							</table>
						</td>
					{%endif%}
				{%endif%}
			{%endfor%}
		{%endfor%}
		</tr>
		</tbody>
		</table>
		</div>
	{%endfor%}
</div>
    
