<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> Visualizar Backlog</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Visualizar Product Backlog</a></h1>

        </div>
        
        <div id="user-tools">
            
                Bienvenido,
                <strong>{{usuario}}</strong>.
            

                <a href="/password_change/">Cambiar contrasenha</a> /
                
                <a href="/logout/">Salir</a>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
  		
  		<div id="content" class="colMS">
    
        <div class="app-gestor module">
        <table>

            <caption>Gestor</caption>
			<th>Historias de usuario del Backlog</th>
        	
            <tr class="model-proyecto">
            	{% csrf_token %}
            	<tr>
						<td><b>Descripcion</b></td>
						<td><b>Prioridad</b></td>
					</tr>
				{%for hu in HUs_pendientes%}
					<tr>
						<td><font color="red"><b>{{hu}} - Pendiente</b></font></td>
						<td>{{hu.prioridad}}</td>
					</tr>
				{%endfor%}
				{%for hu in huss%}
					<tr>
						<td>{{hu}}</td>
						<td>{{hu.prioridad}}</td>
					</tr>
				{%endfor%}
        	</tr>
        </table>
        </div>
    
	<!-- <td><a href="#">Volver</a></td> -->
</div>
  		
<!-- END Container -->

</body>
</html>
