<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Sistema para Consultora de Desarrollo</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" dashboard">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">Visualizar Sprint {{Sprint.descripcion}}</a></h1>

        </div>      
        
    </div>
    <!-- END Header -->
    
    <!-- Content -->
    <div style="width:1500x; height:590px; border:#000 2px solid; overflow:auto">
        
        <form id="formulario" action="/scrum/{{usuarioid}}/{{proyectoid}}/{{rolid}}/">{% csrf_token %}
        	<b>Descripcion: </b> {{Sprint.descripcion}}<br/><br/>
        	<b>Fecha de inicio: </b> {{Sprint.get_fecha_inicio}}<br/><br/>
        	<b>Duracion en dias: </b> {{Sprint.duracion}}<br/><br/>
        	<b>Estado del Sprint: </b> {{Sprint.estado}}<br/><br/>
        	<b>Lista de HU's pertenecientes al Sprint: </b><br/><br/>{% for h in Sprint.hu.all %}{{ h.descripcion }}<br/><br/>{% endfor %}
        	<b>Lista de Flujos a utilizarse en el Sprint: </b><br/><br/>{% for f in Sprint.flujo.all %}{{ f }}<br/><br/>{% endfor %}
        	<b>Equipo de desarrollo del Sprint: </b><br/><br/>{% for u in Sprint.equipo.all %}{{ u }}<br/><br/>{% endfor %}
        	<input type="submit" value="Volver" />
        </form>
     </div>
     <div class="footer">
     <!-- end.footer --></div>

</body>
</html>
